In [85]:
import pandas as pd

In [113]:
colunas_analise = ['TOTAL_VISUALIZACOES', 'TOTAL_LIKES', 'TOTAL_COMENTARIOS']

In [124]:
for coluna in colunas_analise:
    tipos = {
        'ID_VIDEO': 'string',
        'TURNO_EXTRACAO': 'string',
        'INDICE_TURNO_EXTRACAO': 'string',
        coluna: 'float64'
    }
    colunas_df = ['data_extracao', 'ID_VIDEO', 'TURNO_EXTRACAO', 'INDICE_TURNO_EXTRACAO',  coluna]
    base = pd.read_csv(
        '../data/ouro_csv/total_visualizacoes_por_semana/assunto_cities_skylines/total_visualizacoes_por_semana.csv', 
        sep='|',
        parse_dates=['data_extracao'],
        usecols=colunas_df,
        dtype=tipos
    )
    base = base.query('ID_VIDEO == "EuUoqqXA6jI" and data_extracao >= "2023-10-19" and data_extracao <= "2023-10-27"  ')
    base = base.sort_values(by=['data_extracao', 'INDICE_TURNO_EXTRACAO'])
    base[f'{coluna}_DESLOCADO'] = round(base[coluna].shift(1), 0)
    base.fillna('0', axis=1, inplace=True)
    base[['ID_VIDEO', 'TURNO_EXTRACAO', ]] = base[['ID_VIDEO', 'TURNO_EXTRACAO']].astype('string')
    base[[coluna , 'INDICE_TURNO_EXTRACAO', f'{coluna}_DESLOCADO']] = base[[coluna, 'INDICE_TURNO_EXTRACAO', f'{coluna}_DESLOCADO']].astype('int32')
    base[['data_extracao']] = base[['data_extracao']].astype('datetime64[ns]')
    base[f'{coluna}_VARIACAO'] =  base[coluna] - base[f'{coluna}_DESLOCADO']
    print(coluna)
    base = base[['data_extracao', 'INDICE_TURNO_EXTRACAO', 'TURNO_EXTRACAO', 'ID_VIDEO', coluna , f'{coluna}_DESLOCADO', f'{coluna}_VARIACAO']]
    display(base)
    print()

TOTAL_VISUALIZACOES

,data_extracao,INDICE_TURNO_EXTRACAO,TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,TOTAL_VISUALIZACOES_DESLOCADO,TOTAL_VISUALIZACOES_VARIACAO
2183,2023-10-25,1,Manhã,EuUoqqXA6jI,988,0,988
2558,2023-10-25,2,Tarde,EuUoqqXA6jI,5133,988,4145
2370,2023-10-25,3,Noite,EuUoqqXA6jI,9142,5133,4009
2749,2023-10-26,1,Manhã,EuUoqqXA6jI,12900,9142,3758
3171,2023-10-26,2,Tarde,EuUoqqXA6jI,13948,12900,1048
2962,2023-10-26,3,Noite,EuUoqqXA6jI,14617,13948,669
3392,2023-10-27,1,Manhã,EuUoqqXA6jI,15461,14617,844
3859,2023-10-27,2,Tarde,EuUoqqXA6jI,15952,15461,491
3625,2023-10-27,3,Noite,EuUoqqXA6jI,16102,15952,150

TOTAL_LIKES

,data_extracao,INDICE_TURNO_EXTRACAO,TURNO_EXTRACAO,ID_VIDEO,TOTAL_LIKES,TOTAL_LIKES_DESLOCADO,TOTAL_LIKES_VARIACAO
2183,2023-10-25,1,Manhã,EuUoqqXA6jI,266,0,266
2558,2023-10-25,2,Tarde,EuUoqqXA6jI,1089,266,823
2370,2023-10-25,3,Noite,EuUoqqXA6jI,1614,1089,525
2749,2023-10-26,1,Manhã,EuUoqqXA6jI,1974,1614,360
3171,2023-10-26,2,Tarde,EuUoqqXA6jI,2069,1974,95
2962,2023-10-26,3,Noite,EuUoqqXA6jI,2164,2069,95
3392,2023-10-27,1,Manhã,EuUoqqXA6jI,2253,2164,89
3859,2023-10-27,2,Tarde,EuUoqqXA6jI,2304,2253,51
3625,2023-10-27,3,Noite,EuUoqqXA6jI,2327,2304,23

TOTAL_COMENTARIOS

,data_extracao,INDICE_TURNO_EXTRACAO,TURNO_EXTRACAO,ID_VIDEO,TOTAL_COMENTARIOS,TOTAL_COMENTARIOS_DESLOCADO,TOTAL_COMENTARIOS_VARIACAO
2183,2023-10-25,1,Manhã,EuUoqqXA6jI,24,0,24
2558,2023-10-25,2,Tarde,EuUoqqXA6jI,69,24,45
2370,2023-10-25,3,Noite,EuUoqqXA6jI,88,69,19
2749,2023-10-26,1,Manhã,EuUoqqXA6jI,107,88,19
3171,2023-10-26,2,Tarde,EuUoqqXA6jI,113,107,6
2962,2023-10-26,3,Noite,EuUoqqXA6jI,115,113,2
3392,2023-10-27,1,Manhã,EuUoqqXA6jI,116,115,1
3859,2023-10-27,2,Tarde,EuUoqqXA6jI,118,116,2
3625,2023-10-27,3,Noite,EuUoqqXA6jI,119,118,1

In [86]:
tipos = {
    'ID_VIDEO': 'string',
    'TURNO_EXTRACAO': 'string',
    'INDICE_TURNO_EXTRACAO': 'string',
    'TOTAL_VISUALIZACOES': 'int32'
}

In [102]:
colunas = ['data_extracao', 'ID_VIDEO', 'TURNO_EXTRACAO', 'INDICE_TURNO_EXTRACAO','TOTAL_LIKES']

In [103]:
base = pd.read_csv(
    '../data/ouro_csv/total_visualizacoes_por_semana/assunto_cities_skylines/total_visualizacoes_por_semana.csv', 
    sep='|',
    parse_dates=['data_extracao'],
    usecols=colunas,
    dtype=tipos
)

In [104]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_LIKES,data_extracao,TURNO_EXTRACAO
0,3,YhXTcceM1NA,45.0,2023-10-15,Noite
1,3,M34bccK5G1U,1.0,2023-10-15,Noite
2,3,igxEHvMej3g,2.0,2023-10-15,Noite
3,3,nMMr_myn5yI,0.0,2023-10-15,Noite
4,3,weciQDqn07g,17.0,2023-10-15,Noite
...,...,...,...,...,...
3946,2,8spAaaHolIc,178.0,2023-10-27,Tarde
3947,2,Yvcuxu2ch10,490.0,2023-10-27,Tarde
3948,2,kkPRDzrBUiY,134.0,2023-10-27,Tarde
3949,2,z2wuhLPrUWg,104.0,2023-10-27,Tarde
3950,2,iFZEeIxXqWw,2.0,2023-10-27,Tarde

In [105]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951 entries, 0 to 3950
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   INDICE_TURNO_EXTRACAO  3951 non-null   string
 1   ID_VIDEO               3951 non-null   string
 2   TOTAL_LIKES            3896 non-null   float64
 3   data_extracao          3951 non-null   datetime64[ns]
 4   TURNO_EXTRACAO         3951 non-null   string
dtypes: datetime64[ns](1), float64(1), string(3)
memory usage: 154.5 KB

In [106]:
base = base.query('ID_VIDEO == "YhXTcceM1NA" and data_extracao >= "2023-10-16" and data_extracao <= "2023-10-25"  ')

In [107]:
base = base.sort_values(by=['data_extracao', 'INDICE_TURNO_EXTRACAO'])

In [108]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   INDICE_TURNO_EXTRACAO  23 non-null     string
 1   ID_VIDEO               23 non-null     string
 2   TOTAL_LIKES            23 non-null     float64
 3   data_extracao          23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO         23 non-null     string
dtypes: datetime64[ns](1), float64(1), string(3)
memory usage: 1.1 KB

In [109]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_LIKES,data_extracao,TURNO_EXTRACAO
23,1,YhXTcceM1NA,64.0,2023-10-16,Manhã
68,2,YhXTcceM1NA,70.0,2023-10-16,Tarde
42,3,YhXTcceM1NA,73.0,2023-10-16,Noite
95,1,YhXTcceM1NA,81.0,2023-10-19,Manhã
231,2,YhXTcceM1NA,82.0,2023-10-19,Tarde
158,3,YhXTcceM1NA,82.0,2023-10-19,Noite
303,1,YhXTcceM1NA,82.0,2023-10-20,Manhã
382,2,YhXTcceM1NA,82.0,2023-10-20,Tarde
471,1,YhXTcceM1NA,83.0,2023-10-21,Manhã
673,2,YhXTcceM1NA,83.0,2023-10-21,Tarde
560,3,YhXTcceM1NA,83.0,2023-10-21,Noite
779,1,YhXTcceM1NA,83.0,2023-10-22,Manhã
1026,2,YhXTcceM1NA,83.0,2023-10-22,Tarde
895,3,YhXTcceM1NA,83.0,2023-10-22,Noite
1151,1,YhXTcceM1NA,83.0,2023-10-23,Manhã
1440,2,YhXTcceM1NA,83.0,2023-10-23,Tarde
1286,3,YhXTcceM1NA,83.0,2023-10-23,Noite
1585,1,YhXTcceM1NA,83.0,2023-10-24,Manhã
1919,2,YhXTcceM1NA,83.0,2023-10-24,Tarde
1745,3,YhXTcceM1NA,83.0,2023-10-24,Noite
2085,1,YhXTcceM1NA,83.0,2023-10-25,Manhã
2455,2,YhXTcceM1NA,83.0,2023-10-25,Tarde
2259,3,YhXTcceM1NA,83.0,2023-10-25,Noite

In [110]:

base['TOTAL_LIKES_DESLOCADO'] = round(base['TOTAL_LIKES'].shift(1), 0)
base.fillna('0', axis=1, inplace=True)
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_LIKES,data_extracao,TURNO_EXTRACAO,TOTAL_LIKES_DESLOCADO
23,1,YhXTcceM1NA,64.0,2023-10-16 00:00:00,Manhã,0
68,2,YhXTcceM1NA,70.0,2023-10-16 00:00:00,Tarde,64.0
42,3,YhXTcceM1NA,73.0,2023-10-16 00:00:00,Noite,70.0
95,1,YhXTcceM1NA,81.0,2023-10-19 00:00:00,Manhã,73.0
231,2,YhXTcceM1NA,82.0,2023-10-19 00:00:00,Tarde,81.0
158,3,YhXTcceM1NA,82.0,2023-10-19 00:00:00,Noite,82.0
303,1,YhXTcceM1NA,82.0,2023-10-20 00:00:00,Manhã,82.0
382,2,YhXTcceM1NA,82.0,2023-10-20 00:00:00,Tarde,82.0
471,1,YhXTcceM1NA,83.0,2023-10-21 00:00:00,Manhã,82.0
673,2,YhXTcceM1NA,83.0,2023-10-21 00:00:00,Tarde,83.0
560,3,YhXTcceM1NA,83.0,2023-10-21 00:00:00,Noite,83.0
779,1,YhXTcceM1NA,83.0,2023-10-22 00:00:00,Manhã,83.0
1026,2,YhXTcceM1NA,83.0,2023-10-22 00:00:00,Tarde,83.0
895,3,YhXTcceM1NA,83.0,2023-10-22 00:00:00,Noite,83.0
1151,1,YhXTcceM1NA,83.0,2023-10-23 00:00:00,Manhã,83.0
1440,2,YhXTcceM1NA,83.0,2023-10-23 00:00:00,Tarde,83.0
1286,3,YhXTcceM1NA,83.0,2023-10-23 00:00:00,Noite,83.0
1585,1,YhXTcceM1NA,83.0,2023-10-24 00:00:00,Manhã,83.0
1919,2,YhXTcceM1NA,83.0,2023-10-24 00:00:00,Tarde,83.0
1745,3,YhXTcceM1NA,83.0,2023-10-24 00:00:00,Noite,83.0
2085,1,YhXTcceM1NA,83.0,2023-10-25 00:00:00,Manhã,83.0
2455,2,YhXTcceM1NA,83.0,2023-10-25 00:00:00,Tarde,83.0
2259,3,YhXTcceM1NA,83.0,2023-10-25 00:00:00,Noite,83.0

In [96]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     object
 1   ID_VIDEO                       23 non-null     object
 2   TOTAL_VISUALIZACOES            23 non-null     object
 3   data_extracao                  23 non-null     object
 4   TURNO_EXTRACAO                 23 non-null     object
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [111]:
base[['ID_VIDEO', 'TURNO_EXTRACAO', ]] = base[['ID_VIDEO', 'TURNO_EXTRACAO']].astype('string')
base[['TOTAL_VISUALIZACOES' , 'INDICE_TURNO_EXTRACAO', 'TOTAL_VISUALIZACOES_DESLOCADO']] = base[['TOTAL_VISUALIZACOES', 'INDICE_TURNO_EXTRACAO', 'TOTAL_VISUALIZACOES_DESLOCADO']].astype('int32')
base[['data_extracao']] = base[['data_extracao']].astype('datetime64[ns]')

KeyError: "['TOTAL_VISUALIZACOES', 'TOTAL_VISUALIZACOES_DESLOCADO'] not in index"

In [98]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     int32
 1   ID_VIDEO                       23 non-null     string
 2   TOTAL_VISUALIZACOES            23 non-null     int32
 3   data_extracao                  23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO                 23 non-null     string
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     int32
dtypes: datetime64[ns](1), int32(3), string(2)
memory usage: 1012.0 bytes

In [112]:
base['TOTAL_VISUALIZACOES_VARIACAO'] =  base['TOTAL_VISUALIZACOES'] - base['TOTAL_VISUALIZACOES_DESLOCADO']

KeyError: 'TOTAL_VISUALIZACOES'

In [100]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,data_extracao,TURNO_EXTRACAO,TOTAL_VISUALIZACOES_DESLOCADO,TOTAL_VISUALIZACOES_VARIACAO
23,1,YhXTcceM1NA,384,2023-10-16,Manhã,0,384
68,2,YhXTcceM1NA,449,2023-10-16,Tarde,384,65
42,3,YhXTcceM1NA,469,2023-10-16,Noite,449,20
95,1,YhXTcceM1NA,564,2023-10-19,Manhã,469,95
231,2,YhXTcceM1NA,567,2023-10-19,Tarde,564,3
158,3,YhXTcceM1NA,568,2023-10-19,Noite,567,1
303,1,YhXTcceM1NA,569,2023-10-20,Manhã,568,1
382,2,YhXTcceM1NA,571,2023-10-20,Tarde,569,2
471,1,YhXTcceM1NA,573,2023-10-21,Manhã,571,2
673,2,YhXTcceM1NA,573,2023-10-21,Tarde,573,0
560,3,YhXTcceM1NA,574,2023-10-21,Noite,573,1
779,1,YhXTcceM1NA,575,2023-10-22,Manhã,574,1
1026,2,YhXTcceM1NA,575,2023-10-22,Tarde,575,0
895,3,YhXTcceM1NA,575,2023-10-22,Noite,575,0
1151,1,YhXTcceM1NA,576,2023-10-23,Manhã,575,1
1440,2,YhXTcceM1NA,576,2023-10-23,Tarde,576,0
1286,3,YhXTcceM1NA,577,2023-10-23,Noite,576,1
1585,1,YhXTcceM1NA,581,2023-10-24,Manhã,577,4
1919,2,YhXTcceM1NA,581,2023-10-24,Tarde,581,0
1745,3,YhXTcceM1NA,581,2023-10-24,Noite,581,0
2085,1,YhXTcceM1NA,583,2023-10-25,Manhã,581,2
2455,2,YhXTcceM1NA,585,2023-10-25,Tarde,583,2
2259,3,YhXTcceM1NA,585,2023-10-25,Noite,585,0

In [101]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     int32
 1   ID_VIDEO                       23 non-null     string
 2   TOTAL_VISUALIZACOES            23 non-null     int32
 3   data_extracao                  23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO                 23 non-null     string
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     int32
 6   TOTAL_VISUALIZACOES_VARIACAO   23 non-null     int32
dtypes: datetime64[ns](1), int32(4), string(2)
memory usage: 1.1 KB